/* Fonts */ 
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Schoolbell&display=swap');
/* 
font-family: 'Rubik Wet Paint', cursive; 
font-family: 'Schoolbell', cursive; 
*/ 

* {
    box-sizing: border-box; 
    margin: 0;
} 

body {
    background-color: black; 
} 


/* Heading */
h1 {
    text-align: center; 
    color: black; 
    text-shadow: 0 0 10px red;
    font-family: 'Rubik Wet Paint', cursive; 
    font-size: 80px; 
    margin-top: 30px; 
    margin-bottom: -50px; 
} 

.it-text {
    color: black; 
    text-shadow: 0 0 10px yellow;
} 

.pennywise-image {
    background-image: url("../img/pennywise.jpg"); 
    height: 493px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

h2 {
    text-align: center; 
    color: black; 
    text-shadow: 0 0 5px white; 
    font-family: 'Rubik Wet Paint', cursive; 
    font-size: 50px; 
    margin-top: 50px; 
    margin-bottom: 40px; 
} 

h3 { 
    text-align: center; 
    color: red; 
    font-size: 40px; 
}
/* End of Heading */ 


/* Input / Button Section */
input {
    display: flex; 
    margin: auto;  
    margin-bottom: 30px; 
    border: none; 
    border-bottom: 2px dashed red; 
    background-color: #131419; 
    outline: none; 
    color: white; 
    font-size: 18.5px; 
    letter-spacing: 1.5px; 
    text-align: center; 
    height: 30px; 
    width: 350px; 
} 

button {
    display: flex; 
    align-items: center; 
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 40px; 
    border: 2px solid yellow; 
    border-radius: 5px; 
    background-color: black;
    color: white; 
    font-weight: bold; 
    font-size: 15px; 
    letter-spacing: 2px; 
    padding: 16px; 
    height: 40px; 
    cursor: pointer; 
} 

button:hover {
    box-shadow: 0 0 10px white; 
} 
/* End of Input / Button Section */ 


/* Response Section */ 
#magic-balloon { 
    background-image: url("../img/paper-boat.png"); 
    height: 450px; 
    width: 830px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    /* display: flex;  */
    /* justify-content: center; */
    /* align-items: center;  */
    margin: auto; 
    margin-bottom: 80px;
    position: relative; 
}  

.inner-text { 
    /* height: 250px;  */
    width: 250px; 
    background-color: yellow;
    display: flex; 
    justify-content: center; 
    align-items: center;
    /* margin: auto; */
    position: absolute; 
    top: 350px; 
    left: 300px;
}

#float-text {
    color: black; 
    padding: 10px; 
    font-size: 20px; 
    font-weight: bold;
}

#answer {
    color: white;  
    font-size: 20px; 
    font-weight: bold; 
    position: absolute;
}
/* End of Response Section */ 


/* Shake Effect */ 
.shake-effect {
    animation: shake 0.6s ease-in-out;
} 

@keyframes shake {
    0%{transform: translate(1px, 1px) rotate(1deg);}
    15%{transform: translate(-3px, -1px) rotate(3deg);}
    30%{transform: translate(-1px, -2px) rotate(-2deg);}
    45%{transform: translate(1px, 3px) rotate(0deg);}
    60%{transform: translate(-1px, -2px) rotate(-3deg);}
    75%{transform: translate(-1px, -1px) rotate(-1deg);}
    90%{transform: translate(1px, 2px) rotate(2deg);}
    100%{transform: translate(-1px, -2px) rotate(0deg);}
} 
/* End of Shake Effect */ 


/* Goodbye Section */ 
.goodbye-text {
    text-align: center; 
    color: black; 
    text-shadow: 0 0 10px red; 
    font-family: 'Rubik Wet Paint', cursive; 
    font-size: 50px; 
    position: relative; 
    margin-bottom: 70px;
} 

.loser-text {
    text-shadow: 0 0 10px white; 
    font-family: 'Schoolbell', cursive; 
    letter-spacing: 10px;     
} 

.letter-v {
    font-family: 'Schoolbell', cursive; 
    position: absolute; 
    top: -5px;
    left: 785px; 
    font-size: 60px; 
    animation: blink 1.5s linear infinite;
} 

@keyframes blink {
    50% {
        opacity: 0; 
    } 
    80% {
        opacity: 1; 
    } 
} 
/* End of Goodbye Text */ 

/* Last Section: Ending Image */ 
#sewer { 
    display: flex;
    margin: auto;
    width: 500px; 
    border-top-left-radius: 200%; 
    border-top-right-radius: 200%; 
} 
/* End of Last Section */ 